HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
.metadata/

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
.DS_Store

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/

### local configuration ###
# Personal developer overrides - never commit
src/main/resources/application-local.yml
# But DO commit the example template
!src/main/resources/application-local.yml.example

### encrypted files ####
# Production config is encrypted with SOPS before commit
# Only the .enc version should be in git
src/main/resources/application-prod.yml

# local storage
storage
